---
metadata: {
    partial_name: 'Ecommerce | Checkout | Callback Update Records'
}
---

{%- assign date_time = "now" | date: "%Y-%m-%dT%H:%M:%SZ" -%}
{%- capture payment_gateway_details -%}{{ payment_response }}{%- endcapture -%}
{%- assign amount = payment_response.amount | divided_by: 100.00 -%}

{%- parse_json card -%}
{
    "last4": "{{ payment_response.source.last4 }}",
    "brand": "{{ payment_response.source.brand }}",
    "exp_month": "{{ payment_response.source.exp_month }}",
    "exp_year": "{{ payment_response.source.exp_year }}"
}
{%- endparse_json -%}


{%- comment -%} Create payment data {%- endcomment -%}
{% parse_json payment_data %}
{
    "order_uuid": "{{ order_uuid }}",
    "source": "payment_gateway",
    "payment_gateway_name": "{{ gateway | titleize }}",
    "date_time": "{{ date_time }}",
    "last_updated_by_id": "{{ context.current_user.id }}",
    "card_last_four_digits": "{{ card.last4 }}",
    "card_brand": "{{ card.brand }}",
    "card_expiry_month": "{{ card.exp_month }}",
    "card_expiry_year": "{{ card.exp_year }}",
    "currency": "{{ currency }}",
    "order_value": {{ amount }},
    "amount": {{ amount }},
    "amount_due": {{ amount }},
    "payment_method_name" : "Credit Card",
    "status": "{{ order_payment_status | downcase }}"
}
{% endparse_json %}
{% assign payment_data = payment_data | add_hash_key: "payment_gateway_details", payment_gateway_details %}
{%- graphql add_payment = 'modules/ecommerce/system/trigger_api_call', name: "modules/portal/add_payment", data: payment_data | dig: 'items','response','body' | parse_json -%}   

{% comment %} 
    Create Order Items 
    Export: cart, total_preorder_items
{% endcomment %}
{%- include 'modules/ecommerce/order_items/create_order_items', order_uuid -%}
{% assign cart = context.exports.cart %}
{% assign total_preorder_items = context.exports.total_preorder_items %}
{% comment %} Export total_preorder_items again so it can be accessed in the callback_email_notifications {% endcomment %}
{% export total_preorder_items %}

{% comment %} ? GET COMPANY FROM ORDER_CONTACT {% endcomment %}
{% graphql company = 'modules/ecommerce/account/get_company', uuid: form.properties.order_company_uuid | dig: 'items', 'results' | first %}

{% comment %} ? COMPARE CONTACT INFORMATION COMPANY AND SHIPPING/BILLING COMPANY {% endcomment %}
{% comment %} Set shipping company details {% endcomment %}
{% assign shipping_contact_uuid = "" %}
{% assign shipping_company_uuid = "" %}
{% assign shipping_company_name = form.properties.shipping_company_name %}
{% assign shipping_company_email = "" %}
{% assign shipping_company_phone_country_code = "" %}
{% assign shipping_company_phone_number = "" %}

{% if company.company_name == form.properties.shipping_company_name %}
    {% assign shipping_contact_uuid = form.properties.order_contact_uuid %}
    {% assign shipping_company_uuid = company.uuid %}
    {% assign shipping_company_name = company.company_name %}
    {% assign shipping_company_email = company.email_1 %}
    {% assign shipping_company_phone_country_code = company.mobile_phone_country_code %}
    {% assign shipping_company_phone_number = company.mobile_phone_number %}
{% endif %}

{% comment %} Set billing company details {% endcomment %}
{% assign billing_contact_uuid = "" %}
{% assign billing_company_uuid = "" %}
{% assign billing_company_name = form.properties.billing_company_name %}
{% assign billing_company_email = "" %}
{% assign billing_company_phone_country_code = "" %}
{% assign billing_company_phone_number = "" %}

{% if company.company_name == form.properties.billing_company_name %}
    {% assign billing_contact_uuid = form.properties.order_contact_uuid %}
    {% assign billing_company_uuid = company.uuid %}
    {% assign billing_company_name = company.company_name %}
    {% assign billing_company_email = company.email_1 %}
    {% assign billing_company_phone_country_code = company.mobile_phone_country_code %}
    {% assign billing_company_phone_number = company.mobile_phone_number %}
{% endif %}

{%- comment -%} Update order status fields {%- endcomment -%}
{%- parse_json order_update_data -%}
{
    "uuid": "{{ order_uuid }}",
    "date_time": "{{ date_time }}",
    "order_payment_status": "{{ order_payment_status }}",
    "order_status": "{{ order_status }}",
    "order_company_phone_country_code": "{{ company.mobile_phone_country_code }}", 
    "order_company_phone_number": "{{ company.mobile_phone_number }}", 
    "order_company_email": {{ company.email_1 | default: '' | strip_html | json }},
    {% comment %} Shipping Details {% endcomment %}
    "shipping_company.uuid": "{{ shipping_company_uuid }}",
    "shipping_contact.uuid": "{{ shipping_contact_uuid }}",
    "shipping_company_name": {{ shipping_company_name | default: '' | strip_html | json }},
    "shipping_company_email": {{ shipping_company_email | default: '' | strip_html | json }},
    "shipping_company_phone_country_code": "{{ shipping_company_phone_country_code }}",
    "shipping_company_phone_number": "{{ shipping_company_phone_number }}",
    {% comment %} Billing Details {% endcomment %}
    "billing_company.uuid": "{{ billing_company_uuid }}",
    "billing_contact.uuid": "{{ billing_contact_uuid }}",
    "billing_company_name": {{ billing_company_name | default: '' | strip_html | json }},
    "billing_company_email": {{ billing_company_email | default: '' | strip_html | json }},
    "billing_company_phone_country_code": "{{ billing_company_phone_country_code }}",
    "billing_company_phone_number": "{{ billing_company_phone_number }}"
}
{%- endparse_json -%}
{% function updated_order = "ecommerce/controller/order/update", uuid: order_uuid, params: order_update_data %}

{% export updated_order %}


{% comment %} Discount code {% endcomment %}
{% if status == 'success' %}
    {% comment %} Get cart with discount details {% endcomment %}
    {% graphql cart_with_discounts = 'modules/ecommerce/carts/get_cart', 
        contact_uuid: cart.contact_uuid, show_discount_details: true | dig: 'items','results' | first %}
    
    {% if cart_with_discounts.cart_discounts and cart_with_discounts.cart_discounts.size > 0 %}

        {% comment %} Add Order Discounts {% endcomment %}
        {%- assign discount_array = '[]' | parse_json -%}
        {% for cart_discount in cart_with_discounts.cart_discounts %}
            {% parse_json order_discount_data %}
            {
                "order.uuid" : "{{ order_uuid }}",
                "discount.uuid" : "{{ cart_discount.discount_uuid }}",
                "discount_name" : "{{ cart_discount.discount_name }}",
                "discount_type" : "{{ cart_discount.discount_type }}",
                "discount_value" : {{ cart_discount.discount_value | default: 0.00 }},
                "discount_code" : "{{ cart_discount.discount_code }}"
            }
            {% endparse_json %}
            {%-  assign discount_array = discount_array | add_to_array: order_discount_data -%}
        {% endfor %}

        {%- function data = "ecommerce/controller/order_discount/add_bulk", params: discount_array -%}

        {% comment %} Increment Discount usage_count {% endcomment %}
        {%- assign discount_ids_array = '' | split: ',' -%}
        {%- for cart_discount in cart_with_discounts.cart_discounts -%}
            {%- if cart_discount.discount and cart_discount.discount.id -%}
                {%- assign discount_ids_array = discount_ids_array | add_to_array: cart_discount.discount.id -%}
            {%- endif -%}
        {%- endfor -%}
        {%- if discount_ids_array.size > 0 -%}
            {% graphql increment_discount_usage_count = "modules/ecommerce/discount/increment_discount_usage_count", ids: discount_ids_array %}
        {%- endif -%}

    {% endif %}
{% endif %}


{%- comment -%} Delete the user cart and cart items if the status is 'success'. {%- endcomment -%}
{% if status == 'success' %}
    {% if cart.id %}
        {% comment %} Delete Cart and Cart Items {% endcomment %}
        {%- graphql delete_cart = 'modules/ecommerce/carts/delete_cart', id: cart.id -%}
        {%- graphql delete_cart_items = 'modules/ecommerce/cart_items/delete_cart_items', cart_uuid: cart.uuid | dig: 'records_delete_all' -%}
    {% endif %}
{% endif %}


{%- comment -%} Inventory: Decrement Product or Variant stock_level {%- endcomment -%}
{% if status == 'success' %}
    {% for cart_item in cart.cart_items  %}
        {% if cart_item.product_variant_uuid == '' or cart_item.product_variant_uuid == null %}
            {% graphql decrement_stock_level = "modules/ecommerce/products/decrement_stock_level", 
                uuid: cart_item.product_uuid,
                ordered_qty: cart_item.quantity,
                table: 'modules/insites_ecommerce/product' %}
        {% else %}
            {% graphql decrement_stock_level = "modules/ecommerce/products/decrement_stock_level", 
                uuid: cart_item.product_variant_uuid,
                ordered_qty: cart_item.quantity,
                table: 'modules/insites_ecommerce/product_variant' %}      
        {% endif %}
    {% endfor %}
{% endif %}


{% comment %} Event Stream {% endcomment %}
{% if status == 'success' %}

    {% comment %} Check if need to create order event {% endcomment %}
    {% if cart.cart_items.size == total_preorder_items %}
        {% comment %} All items are pre-order {% endcomment %}
        {% assign order_event = false %}
    {% elsif total_preorder_items == 0 %}
        {% comment %} No pre-order items {% endcomment %}
        {% assign order_event = true %}
    {% else %}
        {% comment %} Some items are pre-order {% endcomment %}
        {% assign order_event = true %}
    {% endif %}     

    {% comment %} Get user_id {% endcomment %}    
    {% if context.current_user.id %}
        {% assign user_id = context.current_user.id %}
    {% else %}
        {% assign user_id = context.session.guest_id %}
    {% endif %}

    {% comment %} Add Order Event {% endcomment %}
    {% if order_event %}
        {%- parse_json event_payload-%}
        {
            "font_icon": "icon-check-2",
            "font_icon_color": "#048801",
            "module_feature": "orders",
            "module_source": "insites_ecommerce",
            "datetime": "{{ 'now' | date: '%s' }}",
            "description": "<a target='_blank' href='/admin/insites/#/crm/contacts/{{ user_id }}'>{{ updated_order.order_contact_first_name }} {{ updated_order.order_contact_last_name }}</a> added an order - <a target='_blank' href='/admin/insites/#/ecommerce/orders/{{ updated_order.uuid }}'>{{ updated_order.id }}</a> - via CFW",
            "details": "Order for {{ updated_order.order_contact_first_name }} {{ updated_order.order_contact_last_name }} has been created via CFW.",
            "entity": "orders"  
        }
        {%- endparse_json -%}
        {%- parse_json log_data-%}
        {
            "action": "add",
            "entity": "orders",
            "order_uuid": "{{ updated_order.uuid }}",
            "data": {
                "items": {
                    "created_at": "{{ updated_order.created_at }}",
                    "updated_at": "{{ updated_order.updated_at }}",
                    "id": "{{ updated_order.id }}",
                    "properties": {{ updated_order |  default: '[]'}}
                }
            }
        }
        {%- endparse_json -%}
        {%- assign event_payload = event_payload | add_hash_key: "log", log_data -%}
        {% function add_events = "crm/controller/event-streams/create", params: event_payload %}
    {% endif %}

    {% comment %} Add Pre-order Event {% endcomment %}
    {% if total_preorder_items > 0 %} 
        {%- parse_json event_payload-%}
        {
            "font_icon": "icon-check-2",
            "font_icon_color": "#048801",
            "module_feature": "orders",
            "module_source": "insites_ecommerce",
            "datetime": "{{ 'now' | date: '%s' }}",
            "description": "<a target='_blank' href='/admin/insites/#/crm/contacts/{{ user_id }}'>{{ updated_order.order_contact_first_name }} {{ updated_order.order_contact_last_name }}</a> added a pre-order - <a target='_blank' href='/admin/insites/#/ecommerce/orders/{{ updated_order.uuid }}'>{{ updated_order.id }}</a> - via CFW",
            "details": "Order for {{ updated_order.order_contact_first_name }} {{ updated_order.order_contact_last_name }} has been created via CFW.",
            "entity": "orders"  
        }
        {%- endparse_json -%}
        {%- parse_json log_data-%}
        {
            "action": "add",
            "entity": "orders",
            "order_uuid": "{{ updated_order.uuid }}",
            "data": {
                "items": {
                    "created_at": "{{ updated_order.created_at }}",
                    "updated_at": "{{ updated_order.updated_at }}",
                    "id": "{{ updated_order.id }}",
                    "properties": {{ updated_order |  default: '[]'}}
                }
            }
        }
        {%- endparse_json -%}
        {%- assign event_payload = event_payload | add_hash_key: "log", log_data -%}
        {% function add_events = "crm/controller/event-streams/create", params: event_payload %}
    {% endif %}

{% endif %}