---
metadata: {
    partial_name: 'Ecommerce | Products | Detail'
}
---

{% comment %}  
    Required from parent
    - product
{% endcomment %}

{% function user_uuid = 'modules/ecommerce/user/get_user_uuid' %}
{% if user_uuid and user_uuid != '' %}
    {% graphql user_cart = 'modules/ecommerce/carts/get_cart',
            contact_uuid: user_uuid | dig: 'items','results' | first %}
{% endif %}
    
{% liquid

    ## Galleries
    assign galleries = '' | split: ','    
    assign gallery_indexes = '{}' | parse_json 
    assign index = 0

    ## Main Product Image
    assign main_image = product.product_image.url | replace: ' ', '%20' | escape | default: ''
    if main_image and main_image != ''
        assign galleries = galleries | array_add: main_image  
        assign index = index | plus: 1
    endif

    ## Gallery_1
    if product.gallery_1.size > 0
        for gallery in product.gallery_1
            assign gallery_url = gallery.file.url | replace: ' ', '%20' | escape | default: ''
            if gallery_url and gallery_url != ''
                assign galleries = galleries | array_add: gallery_url
                assign gallery_indexes = gallery_indexes | add_hash_key: gallery.id, index
                assign index = index | plus: 1
            endif
        endfor
    endif

    ## Gallery_2
    if product.gallery_2.size > 0        
        for gallery in product.gallery_2
            assign galleries = galleries | array_add: gallery.file.url
            assign index = index | plus: 1
        endfor
    endif
    
    
    if product.is_product_variant_enabled
        ## The product has variants
        assign selected_prop = product.variants[0] 
        assign variant_id = selected_prop.id
        assign product_variant_uuid = selected_prop.uuid 
        assign disabledBtn = 'disabled'
        ## Variant Images        
        for variant in product.variants
            if variant.product_image.url
                assign galleries = galleries | array_add: variant.product_image.url
                assign gallery_indexes = gallery_indexes | add_hash_key: variant.id, index
                assign index = index | plus: 1
            endif
        endfor
    else 
        ## The product doesn't have variant
        assign selected_prop = product    
        assign variant_id = null
        assign product_variant_uuid = null    
        assign disabledBtn = ''
    endif

    ## Quantity: default to the quantity already in the cart (if any)
    assign cart_quantity = 1
    if user_cart and user_cart.cart_items and user_cart.cart_items.size > 0
        if product.is_product_variant_enabled and selected_prop.uuid != blank and selected_prop.uuid != ''
            # Variant product
            assign cart_quantity = user_cart.cart_items | array_detect: product_variant_uuid: selected_prop.uuid | dig: 'quantity' | default: 1
        else
            # Non-variant product
            assign cart_quantity = user_cart.cart_items | array_detect: product_uuid: product.uuid | dig: 'quantity' | default: 1
        endif
    endif

    ## Pricing
    ## Use product details here even if variant is enabled
    include 'modules/ecommerce/products/pricing', product: product
    assign price = context.exports.price
    assign price_strikethrough = context.exports.price_strikethrough
    assign is_tax_included = context.exports.is_tax_included
    
    assign variants = '[]'    
%}

<ins-button label="Go back" icon="icon-angle-left" class="inline go-back" onclick=window.history.back();></ins-button>
<div class="spacer"></div>

<div class="product-detail grid-x grid-padding-x">
    <div class="large-7 medium-12 small-12 cell">                
        <div class="gallery">   

            {% comment %} On sale {% endcomment %}
            <div id="on-sale-tag" class="on-sale-tag {% unless selected_prop.is_on_sale == true %}hide{% endunless %}">ON SALE</div>


            {% comment %} Out of Stock {% endcomment %}
            {%  liquid 
                assign btnLabel = 'Pre-order'
                if product.is_product_variant_enabled 
                    ## Initially hide the out-of-stock overlay when a variant is enabled
                    assign hideOutOfStock = 'hide'
                    assign btnLabel = 'Buy now'
                elsif product.stock_level > 0
                    assign hideOutOfStock = 'hide'
                    assign btnLabel = 'Buy now'
                else
                    assign hideOutOfStock = ''
                endif
            %}
            <div id="out-of-stock-overlay" class="out-of-stock {{hideOutOfStock}}"></div>

            {% comment %} Use gallery or product_image {% endcomment %}
            {%- if galleries.size > 0 -%}                  
                <div class="main-gallery variant-gallery">                       
                    <ins-gallery  
                        with-indicator 
                        slidable 
                        slidable-thumbs 
                        thumbnail-layout="slider"
                        id="product-galleries">
                        {%- for gallery in galleries -%}
                            <ins-gallery-image
                                thumbnail="{{ gallery }}"
                                image="{{ gallery }}">
                            </ins-gallery-image>
                        {%- endfor -%}
                    </ins-gallery>
                </div>
            {%- else -%}
                {%- include 'modules/website/layout/placeholder_image', size: 'large' -%}
            {%- endif -%}
        </div>
        <div class="spacer xx-large hide-for-small-only"></div>

        {% comment %} Desktop: Long Description {% endcomment %}
        <div class="show-for-large">
            {%- if product.long_description != blank -%}
            <p class="heading-4">Key features</p>
            <div class="spacer"></div>
            <div class="body description">                
                {{ product.long_description  | html_safe }}
            </div>
            {%- endif -%}
        </div>
    </div>

    <div class="large-4 medium-12 small-12 large-offset-1 cell">
        <div class="hide-for-large spacer x-large"></div>

        <div class="grid-y grid-padding-y product-details-column-2">
            {% comment %} Text heading {% endcomment %}
            <div>
                <h1 class="heading-1">{{ product.product_name }}</h1>       
                {% if product.sku != '' %}
                    <p>SKU: <span id="product-sku">{{ product.sku }}</span></p>
                {% endif %}
            </div>
            
            {% comment %} Price {% endcomment %}            
            {% if price == '' or price == blank %}                                
                {% assign hidePrice = 'hide' %}
            {% endif %}
            <div id="pricing-wrap" class="wrap {{hidePrice}}">                                                
                <p id="product-price" class="heading-5-small">{{ price | pricify: 'USD', no_cents_if_whole: false }}</p>                
                <p id="regular-product-price" class="strikethrough">{{ price_strikethrough }}</p>                
            </div>

            {% comment %} Short Description {% endcomment %}
            {% if product.short_description %}
            <div>
                <p>{{ product.short_description }}</p>
            </div>
            {% endif %}
                    
            {% comment %} Out of Stock Notice {% endcomment %}
            <div id="out-of-stock-notice" class="out-of-stock-notice {{ hideOutOfStock }}">    
                <p class="bold">Sorry, this product is currently out of stock.</p>                         
                <p>You can secure yours by placing a pre-order now! We will notify you when your pre-order becomes available for delivery.</p>            
            </div>

            {% comment %} Variants {% endcomment %}
            {%- if product.is_product_variant_enabled -%} 
                <div class="grid-y">
                    <div class="small-12 cell">
                        
                        {% comment %} Get variant info {% endcomment %}
                        {% assign variants = '' | split: ',' %}                        
                        {%- for variant in product.variants -%}
                            {%  liquid 
                                ## Convert an array of strings into an array of objects
                                assign item_obj = '' | split: ',' 
                                for item in variant.product_options
                                    assign item_json = item | parse_json
                                    assign item_obj = item_obj | array_add: item_json
                                endfor
                                assign variant = variant | add_hash_key: 'options', item_obj
                                assign variants = variants | array_add:variant
                            %}
                        {%- endfor -%}

                        {% if variants.size > 0 %}
                            {% assign first_option_label = '' %}
                            {% assign first_option_values = '' | split: ',' %}
                            
                            {% for variant in product.variants %}
                                {% assign first_opt = variant.product_options[0] | parse_json %}
                                {% if first_option_label == '' %}
                                    {% assign first_option_label = first_opt.product_option_label %}
                                {% endif %}
                                {% unless first_option_values contains first_opt.product_option_value %}
                                    {% assign first_option_values = first_option_values | array_add: first_opt.product_option_value %}
                                {% endunless %}
                            {% endfor %}

                            <div id="product-options">
                                <ins-select 
                                    id="option-0"
                                    class="variant-select2" 
                                    label="{{ first_option_label }}"
                                    label-key="{{ first_option_label }}"
                                    placeholder="Select Variant"
                                    error-message="Please select a variant"
                                    small> 
                                    {% for value in first_option_values %}
                                    <ins-select-option label="{{ value }}" value="{{ value }}" ></ins-select-option>
                                    {% endfor %}
                                </ins-select>
                                
                                {% comment %} Dynamic select will be inserted here {% endcomment %}
                                <div id="next-selects"></div>
                            </div>
                        {% endif %}

                    </div>
                </div>
            {%- endif -%} 
            
            {% comment %} Quantity {% endcomment %}
            <div>                                                    
                <p class="form-label">Quantity</p>
                <ins-input-stepper
                    id="cart-quantity" 
                    value="{{ cart_quantity | default: 1 }}" 
                    step="1" min="1" 
                    max="100" 
                    small>
                </ins-input-stepper>                
            </div>
            {% comment %} Buttons {% endcomment %}            
            {% parse_json add_to_cart_data %}
            {
                "detail_page": true,
                "id": "{{ product.id }}",
                "slug": "{{ product.slug }}",
                "product_uuid": "{{ product.uuid }}",
                "product_name": "{{ product.product_name | replace: "'", "`" }}",
                "price": "{{ price | default: 0 }}",
                "product_sku": "{{ product.sku }}",
                "stock_level": "{{ product.stock_level | default: 0 }}",
                "tax_amount": "{{ product.tax_amount | default: 0 }}",
                "is_tax_included": "{{ is_tax_included | default: false }}",
                "is_fixed_tax_amount": "{{ product.is_fixed_tax_amount | default: false }}"
            }
            {% endparse_json %}
            {% if galleries.size > 0 %}
                {% assign add_to_cart_data = add_to_cart_data | add_hash_key: 'image', galleries[0] %}
            {% endif %}                     
            <div id="product-details-btn">
                <ins-button id="add-to-cart-btn-{{ add_to_cart_data.id }}"  class="full add-to-cart-btn" data='{{ add_to_cart_data }}' label="{{ btnLabel }}" solid {{disabledBtn}}></ins-button>
                <div class="spacer small"></div>
                <ins-button class="full add-to-cart-btn" label="Add to cart" data='{{ add_to_cart_data }}' icon="icon-shopping-cart" outlined {{disabledBtn}}></ins-button>
            </div>
            
        </div>
        
    </div>

    {% comment %} Mobile: Long Description {% endcomment %}
    <div class="hide-for-large">        
        {%- if product.long_description != blank -%}
         <div class="spacer x-large"></div>
        <p class="heading-4">Key features</p>
        <div class="spacer large"></div>
        <div class="body description">
            {{ product.long_description  | html_safe }}
        </div>
        {%- endif -%}
    </div>

    <div class="cell show-for-large spacer xxxx-large"></div>

    <div class="cell">
        {% include 'modules/ecommerce/blocks/you_may_also_like', not_uuid: product.uuid, heading_level: 'h2' %}
    </div>
    
</div>

<script>
    const variants = {{ variants }};
    const main_image = "{{ product.product_image.url }}";
    const galleryIndexes = {{ gallery_indexes | default: '[]' }};
    let selected_variant = {
            "product_name": "{{ product.product_name }}"
        }; 
    
    const productGalleries = document.getElementById('product-galleries');    
    const productSKU = document.getElementById("product-sku");
    const pricingWrap = document.getElementById("pricing-wrap");
    const productPrice = document.getElementById("product-price");
    const regularProductPrice = document.getElementById("regular-product-price");
    const onSaleTag = document.getElementById('on-sale-tag');
    const ourOfStockNotice = document.getElementById("out-of-stock-notice");
    const outOfStockOverlay = document.getElementById("out-of-stock-overlay");

    if(variants.length > 0) {        
        const nextSelectsWrap = document.getElementById('next-selects');

        // Helper to parse all variant options once at the start
        const parsedVariants = variants.map(v => ({
            ...v,
            product_options: v.product_options.map(JSON.parse)
        }));

        async function getUserSelections() {
            const selects = document.querySelectorAll('#product-options ins-select, #next-selects ins-select');
            const selections = [];

            for (const select of selects) {
                const label = select.getAttribute('label');
                const value = await select.getValue();
                if (value) {
                    selections.push({ label, value });
                }
            }

            return selections;
        }


        function findMatchingVariant(selections, variants) {
            return variants.find(variant => {
                const options = variant.product_options.map(JSON.parse);

                return selections.every(selection => {
                    return options.some(opt =>
                        opt.product_option_label === selection.label &&
                        opt.product_option_value === selection.value
                    );
                });
            });
        }

        function updateSelectionDetails(selectedVariant) {

            if(selectedVariant.id){
                //Identifiers
                selected_variant.id = selectedVariant.id;
                selected_variant.product_variant_uuid = selectedVariant.uuid;                
                //SKU
                selected_variant.sku = selectedVariant.sku;
                productSKU.textContent = `${selectedVariant.sku}`;
                //Product Price
                pricingWrap.classList.remove('hide');
                if(selectedVariant.is_on_sale){
                    selected_variant.price = selectedVariant.sale_price;
                    productPrice.textContent = `$${selectedVariant.sale_price}`;
                    regularProductPrice.textContent = `$${selectedVariant.regular_price}`;                
                } else {
                    selected_variant.price = selectedVariant.regular_price;
                    productPrice.textContent = `$${selectedVariant.regular_price}`;
                    if (regularProductPrice) {
                        regularProductPrice.textContent = "";
                    }
                }
                //Image
                selected_variant.image = selectedVariant.product_image.url || main_image;
                //Out of Stock Notice
                if(selectedVariant.stock_level < 1){
                    ourOfStockNotice.classList.remove("hide");
                    outOfStockOverlay.classList.remove("hide");
                } else {
                    ourOfStockNotice.classList.add("hide");
                    outOfStockOverlay.classList.add("hide");
                }
                selected_variant.stock_level = selectedVariant.stock_level;
                //Sale tag
                if(onSaleTag){
                    if(selectedVariant.is_on_sale == true){
                        onSaleTag.classList.remove("hide");
                    } else {
                        onSaleTag.classList.add("hide");
                    }
                }
                //product_options
                selected_variant.product_options = selectedVariant.product_options;

            } else {
                productSKU.textContent = "";
                productPrice.textContent = "$--";
                regularProductPrice.textContent = "";
                ourOfStockNotice.classList.remove("hide");
                outOfStockOverlay.classList.remove("hide");
            }
        }


        // Recursive function to render select
        async function renderSelect(level, selectedPath = []) {

            // Remove any selects deeper than current level
            [...nextSelectsWrap.children].forEach(child => {
                if (parseInt(child.dataset.level, 10) >= level) {
                    child.remove();
                }
            });

            // Filter variants matching all selected values so far
            const filtered = parsedVariants.filter(variant => {
                return selectedPath.every((selected, i) => {
                    const opt = variant.product_options[i];
                    return opt &&
                        opt.product_option_label === selected.label &&
                        opt.product_option_value === selected.value;
                });
            });


            // Find the next option label
            const nextLabel = filtered[0]?.product_options[selectedPath.length]?.product_option_label;

            // No more dropdowns to generate
            if (!nextLabel) {
                const selections = await getUserSelections();
                const matchedVariant = findMatchingVariant(selections, variants);

                if (matchedVariant) {
                    console.log('Matching variant:', matchedVariant);
                    updateSelectionDetails(matchedVariant);

                    //Update active view in galleries based on selected variant
                    productGalleries?.activate(galleryIndexes[matchedVariant.id]);

                    //Activate add-to-cart button
                    document.querySelectorAll('#product-details-btn .add-to-cart-btn').forEach(btn => {
                        btn.disabled = false;
                    });
                } else {
                    console.log('No matching variant found');
                }

                return; 
            } 

            // Collect unique values for next label
            const values = new Set();
            filtered.forEach(v => {
                const opt = v.product_options[selectedPath.length];
                if (opt?.product_option_label === nextLabel) {
                    values.add(opt.product_option_value);
                }
            });

            // Create new ins-select
            const wrapper = document.createElement('div');
            wrapper.dataset.level = level;

            const selectId = `option-${level}`;
            wrapper.innerHTML = `
                <div class="spacer"></div>
                <ins-select 
                id="${selectId}" 
                label="${nextLabel}" 
                placeholder="Select ${nextLabel}" 
                validate>
                ${[...values].map(val => `
                    <ins-select-option label="${val}" value="${val}"></ins-select-option>
                `).join('')}
                </ins-select>
            `;

            nextSelectsWrap.appendChild(wrapper);

            // Add listener to new select
            const newSelect = wrapper.querySelector('ins-select');
            newSelect.addEventListener('insValueChange', (e) => {
                const newPath = [...selectedPath, { label: nextLabel, value: e.detail }];
                renderSelect(level + 1, newPath);
            });
        }

        // Add listener to first variant option
        const firstSelect = document.getElementById('option-0');
        const firstLabel = firstSelect.getAttribute('label');
        firstSelect.addEventListener('insValueChange', (e) => {
            renderSelect(1, [{ label: firstLabel, value: e.detail }]);
        });
    }
</script>