---
metadata: {
    partial_name: 'Ecommerce | Emails | Product List'
}
---
{%- for cart_item in cart -%}       

    {% liquid
        assign product = products | array_detect: uuid: cart_item.product_uuid
        assign product_name = product.product_name

        ## Check if the cart_item is a product or a variant of the product
        if cart_item.product_variant_uuid == '' or cart_item.product_variant_uuid == null
            ## item is NOT a variant
            assign selected_prop = product
            assign imgsrc = product.product_image.url
            assign is_variant = false
        else 
            ## cart_item is a variant                
            for variant in product.variants
                if cart_item.product_variant_uuid == variant.uuid
                    assign selected_prop = variant
                endif
            endfor

            ## Image: Use the variant image; if not exists, use the main product image.
            assign imgsrc = selected_prop.product_image.url
            if imgsrc == '' or imgsrc == blank 
                assign imgsrc = product.product_image.url
            endif

            assign is_variant = true
        endif 

        ## Price
        if selected_prop.is_on_sale == true 
            assign price = selected_prop.sale_price
        else 
            assign price = selected_prop.regular_price
        endif          
    %}


    {% comment %} Skip in-stock items if pre-order email {% endcomment %}
    {% liquid
        if preorder == true 
            if selected_prop.stock_level > 0 
                continue
            endif
        endif        
    %}


    {%- comment %} 
        * Render the product details: image, name, SKU, options (if any), and price/quantity.
        * Display the variant image if available; otherwise, use the main product image.
    {% endcomment %}
    <div style="font-family: inherit; font-size: 16px; display: flex; padding: 8px 24px 8px 40px;">
        
        <div style="width: 100px; padding-right:24px; line-height: 0px;">
            {% if imgsrc != '' and imgsrc != blank %}
                <img  src="{{ imgsrc | replace: ' ', '%20' | escape }}" style="width: 100px; height:auto;" alt="{{ product_name }}" >
            {% else %}
                {% include 'modules/website/layout/placeholder_image', size: 'medium' %}
            {% endif %}
        </div>

        <div style="flex: 1;">
            <p style="font-weight: bold; color: #0d0d0d; margin-bottom: 5px;">{{ product_name }}</p>
            {% if selected_prop.product_sku and selected_prop.product_sku != '' %}
                <p style="margin-bottom: 5px;">SKU {{ selected_prop.product_sku }}</p>
            {% endif %}

            {% comment %} Variant Options {% endcomment %}
            {% if is_variant == true %}
                {%  liquid 
                    ## Convert an array of strings into an array of objects
                    assign options = '' | split: ',' 
                    for option in selected_prop.product_options
                        assign option_json = option | parse_json
                        assign options = options | array_add: option_json
                    endfor
                %}
                {% for option in options %}
                    <p style="margin-bottom: 5px">
                        <span>{{ option.product_option_label | titleize }}:</span>
                        <span>{{ option.product_option_value | titleize }}</span>
                    </p>
                {% endfor %}
            {% endif %}
    
            {%- comment %} 
                * Display the quantity and price of the product in the cart.
                * Format the price using the "pricify" filter and display in AUD.
            {% endcomment %}
            <p style="margin: 0;">{{ cart_item.quantity | plus: 0 }} x {{ price | pricify }} AUD</p> 
        </div>
    </div>

    {% comment %} <!-- Spacer --> {% endcomment %}
    {% include 'modules/ecommerce/emails/spacer_table_body', spaceSize: 16 %}

{%- endfor -%}
